<app-navbar>
    <div class="header">
        <h1>{{ 'contract_title' | transloco }}</h1>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" class="new-button" (click)="create()">
            {{ translocoService.translate('dialogs.add_button', { name: translocoService.getActiveLang() === 'en' ?
            'Contract' : 'Kontrat' }) }}
        </button>
        <button mat-flat-button color="excel" class="excel-button" (click)="exportAsXLSX()">
            <mat-icon>file_download</mat-icon>
        </button>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input maxlength="50" matInput [(ngModel)]="value" (keyup)="filterContracts($event)"
            placeholder="Search Contract" #input>
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>

    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'code' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'name' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="hotel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'hotel' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ getItem('hotel', element) }}</td>
            </ng-container>

            <ng-container matColumnDef="feature">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'feature' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ getCurrentFeature(element) }}</td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'start' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ toDate(element.enteredDate) | localizedDate }}</td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'end' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ toDate(element.exitDate) | localizedDate }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'actions' | transloco }}</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ element }">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="seeDetails">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button type="text" mat-icon-button class="animate__animated animate__bounceInDown" (click)="seeDetails(element)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-element="element">
            <button mat-menu-item (click)="update(element)">{{ 'dialogs.edit' | transloco }}</button>
            <button mat-menu-item (click)="delete(element)">{{ 'dialogs.delete' | transloco }}</button>
        </ng-template>
    </mat-menu>

</app-navbar>