<h1 mat-dialog-title>
    {{ translocoService.translate('dialogs.add_button', { name: translocoService.getActiveLang() === 'en' ? 'Agency' : 'Acenta' }) }}
</h1>

<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>{{ 'name' | transloco }}</mat-label>
            <input matInput formControlName="name" (keyup.enter)="add()">
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
            <mat-label>{{ 'address' | transloco }}</mat-label>
            <textarea matInput formControlName="address" (keyup.enter)="add()"></textarea>
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
            <mat-label>{{ 'phone' | transloco }}</mat-label>
            <input matInput type="tel" formControlName="phone" (keyup.enter)="add()">
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
            <mat-label>{{ 'email' | transloco }}</mat-label>
            <input matInput type="email" formControlName="email" (keyup.enter)="add()">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="add()">{{ 'dialogs.add' | transloco }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>