<h1 mat-dialog-title>{{ translocoService.translate('dialogs.edit_title', { name: translocoService.getActiveLang() === 'en' ? 'Agency' : 'Acenta' }) }}</h1>

<div mat-dialog-content>

        <mat-form-field>
            <mat-label>{{ 'code' | transloco }}</mat-label>
            <input matInput [(ngModel)]="newAgencyCode" (keyup.enter)="update()">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>{{ 'name' | transloco }}</mat-label>
            <input matInput [(ngModel)]="newAgencyName" (keyup.enter)="update()">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>{{ 'address' | transloco }}</mat-label>
            <textarea matInput [(ngModel)]="newAgencyAddress" (keyup.enter)="update()"></textarea>
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>{{ 'phone' | transloco }}</mat-label>
            <input matInput type="phone" [(ngModel)]="newAgencyPhone" (keyup.enter)="update()">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>{{ 'email' | transloco }}</mat-label>
            <input [formControl]="emailControl" matInput type="email"  (keyup.enter)="update()">
        </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="update()">{{ 'dialogs.update' | transloco }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>
