.search-container {
    text-align: center;
}



.search-button {
    padding: 0 40px;
}

.person {
    width: 5vw;
}

.date {
    width: 10vw;
}

.hotel {
    width: 12vw;
}

.results {
    margin-top: 20px; 
}

.results-title {
    text-align: center;
}

.export-button {
    margin-bottom: 15px;
}