
<form (ngSubmit)="register()" #form="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input #fullname="ngModel" class="form-control form-control-sm mr-sm-2" required minlength="5" type="text"
      name="fullname" placeholder="Username" [(ngModel)]="model.fullname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input #email="ngModel" class="form-control form-control-sm mr-sm-2" required name="email" placeholder="Email"
      type="email" [(ngModel)]="model.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input #password="ngModel" class="form-control form-control-sm mr-sm-3" required minlength="6" name="password"
      placeholder="Password" [type]=" showPassword ? 'text' : 'password' " [(ngModel)]="model.password"  (keyup)="filterPassword($event)">
    <mat-checkbox (click)="showHidePassword()">Show Password</mat-checkbox>

  </div>
  <button mat-raised-button
  matTooltip="Your password need at least 6 characters, at least one digit, one uppercase and one lowercase chars.">
  ! </button>
  <div>
   
    <button class="btn btn-success my-auto mx-2 position-relative bottom-0 start-50 translate-middle" type="submit">Sign
      Up</button>
  </div>
</form>