<h1 mat-dialog-title>
  {{ translocoService.translate('dialogs.add_button', { name: translocoService.getActiveLang() === 'en' ? 'Room' : 'Oda' }) }}
</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-label>{{ 'code' | transloco }}</mat-label>
    <input matInput [(ngModel)]="roomCode" maxlength="20" (keyup.enter)="add()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput [(ngModel)]="roomName" maxlength="50" (keyup.enter)="add()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'hotel' | transloco }}</mat-label>
    <mat-select [(ngModel)]="hotelId" (ngModelChange)="onChange($event)">
      <mat-option *ngFor="let h of hotels" [value]="h.id"  >{{ h.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'room_type' | transloco }}</mat-label>
    <mat-select [(ngModel)]="roomTypeId">
      <mat-option *ngFor="let r of roomTypes" [value]="r.id">{{ r.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
<!--
  <section class="example-section">
    <label class="example-margin"> {{ 'clean' | transloco }} </label>
    &nbsp; &nbsp;&nbsp;&nbsp;
    <mat-radio-group [(ngModel)]="clean">
      <mat-radio-button class="example-margin" value=true>Clean</mat-radio-button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <mat-radio-button class="example-margin" value=false>Dirty</mat-radio-button>
    </mat-radio-group>
  </section> -->


</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="add()">{{ 'dialogs.add' | transloco }}</button>
  <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>
