<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Hollie</span>
</mat-toolbar>

<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/room-types">Room Types</a>
      <a mat-list-item routerLink="/countries">Countries</a>
      <a mat-list-item routerLink="/agencies">Agencies</a>
      <a mat-list-item routerLink="/hotels">Hotels</a>
      <a mat-list-item routerLink="/hotel-categories">Hotel Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
