<h1 mat-dialog-title>
  {{ translocoService.translate('dialogs.edit_title', { name: translocoService.getActiveLang() === 'en' ? 'Hotel' :
  'Otel' }) }}
</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-label>{{ 'code' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newHotelCode" (keyup.enter)="update()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newHotelName" (keyup.enter)="update()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'address' | transloco }}</mat-label>
    <textarea matInput [(ngModel)]="newHotelAddress" (keyup.enter)="update()"></textarea>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'phone' | transloco }}</mat-label>
    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type="number" [(ngModel)]="newHotelPhone" matInput type="phone" maxlength="11" placeholder="(555) 555-5555" (keyup.enter)="update()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'category' | transloco }}</mat-label>
    <mat-select matInput [(ngModel)]="newHotelCategoryId">
      <mat-option *ngFor="let c of hotelCategories" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'email' | transloco }}</mat-label>
    <input matInput [formControl]="emailControl" (keyup.enter)="update()">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="update()">Update</button>
  <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
</div>
