<h1 mat-dialog-title>
  {{ translocoService.translate('dialogs.add_button', { name: translocoService.getActiveLang() === 'en' ? 'Hotel' :
  'Otel' }) }}
</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-label>{{ 'code' | transloco }}</mat-label>
    <input matInput [(ngModel)]="hotelCode" (keyup.enter)="add()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput [(ngModel)]="hotelName" (keyup.enter)="add()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'address' | transloco }}</mat-label>
    <textarea matInput [(ngModel)]="hotelAddress" (keyup.enter)="add()"></textarea>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'phone' | transloco }}</mat-label>
    <input type="number" matInput [(ngModel)]="hotelPhone" (keyup.enter)="add()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'category' | transloco }}</mat-label>
    <mat-select [(ngModel)]="hotelCategoryId">
      <mat-option *ngFor="let c of hotelCategories" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'email' | transloco }}</mat-label>
    <input matInput type="email" [(ngModel)]="hotelEmail" (keyup.enter)="add()">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="add()">{{ 'dialogs.add' | transloco }}</button>
  <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>
