<h1 mat-dialog-title>
    {{ translocoService.translate('dialogs.add_button', { name: translocoService.getActiveLang() === 'en' ? 'Room Type' : 'Oda Tipi' }) }}
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{ 'code' | transloco }}</mat-label>
        <input matInput maxlength="20" [(ngModel)]="roomTypeCode" (keyup.enter)="add()">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>{{ 'name' | transloco }}</mat-label>
        <input matInput maxlength="50" [(ngModel)]="roomTypeName" (keyup.enter)="add()">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="add()">{{ 'dialogs.add' | transloco }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>
