<h1 mat-dialog-title>
    {{ translocoService.translate('dialogs.edit_title', { name: translocoService.getActiveLang() === 'en' ? 'Room Type' : 'Oda Tipi' }) }}
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{ 'code' | transloco }}</mat-label>
        <input matInput maxlength="20" [(ngModel)]="newCode" (keyup.enter)="updateRoomType()">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>{{ 'name' | transloco }}</mat-label>
        <input matInput maxlength="50" [(ngModel)]="newType" (keyup.enter)="updateRoomType()">
    </mat-form-field>

    <br>

    <mat-form-field class="selects-m">
        <mat-label>{{ 'hotel' | transloco }}</mat-label>
        <mat-select [(ngModel)]="newHotelId">
            <mat-option *ngFor="let h of hotels" [value]="h.id">{{ h.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    

    <mat-form-field>
        <mat-label>{{ 'adult' | transloco }}</mat-label>
        <input [(ngModel)]="newMaxAD" matInput type="number" value="1" min="0" max="15"  (keyup.enter)="updateRoomType()">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>{{ 'child' | transloco }}</mat-label>
        <input [(ngModel)]="newMaxCH" matInput type="number" value="1" min="0" max="5" (keyup.enter)="updateRoomType()" >
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>{{ 'person' | transloco }}</mat-label>
        <input [(ngModel)]="newPax" matInput type="number" value="1" min="0" max="20" (keyup.enter)="updateRoomType()" >
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="updateRoomType()">{{ 'dialogs.update' | transloco }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>
