.search-container {
    text-align: center;
}

.title {
    // margin-bottom: 40px;
}

.search-button {
    padding: 0 40px;
}

.person {
    width: 5vw;
}

.date {
    width: 10vw;
}

.hotel {
    width: 12vw;
}