<div class="search-container">
    <h1 class="title">{{ 'search_contract' | transloco }}</h1>
    <mat-form-field class="mx-2 date">
        <mat-label>{{ 'start' | transloco }}</mat-label>
        <input [(ngModel)]="startDate" matInput [matDatepicker]="startPicker">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mx-2 date">
        <mat-label>{{ 'end' | transloco }}</mat-label>
        <input [(ngModel)]="endDate" matInput [matDatepicker]="endPicker">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mx-2 person">
        <mat-label>{{ 'people' | transloco }}</mat-label>
        <input [(ngModel)]="people" matInput type="number" value="1" min="0">
    </mat-form-field>

    <br>

    <mat-form-field class="mx-2 hotel">
        <mat-label>{{ 'hotel' | transloco }}</mat-label>
        <mat-select [(ngModel)]="hotelIds" multiple>
            <mat-option *ngFor="let h of hotels" [value]="h.id">{{ h.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <div class="search-button-bar">
        <button class="search-button" mat-flat-button color="primary" (click)="applyFilter()">{{ 'search' | transloco }}</button>
        <!-- <button mat-flat-button color="accent" (click)="clearTable()">Clear</button> -->
    </div>
</div>

<div class="results" [ngClass]="{'d-none': result.length === 0}">
    <div class="d-flex">
        <h2 class="results-title">{{ 'results' | transloco }}</h2>
        <span class="spacer"></span>
        <button class="export-button" mat-flat-button color="excel" (click)="exportAsXLSX()">
            <mat-icon>file_download</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="result">
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>{{ 'code' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'name' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>{{ 'price' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef>{{ 'currency' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ getItem('currency', element) }}</td>
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="hotel">
            <th mat-header-cell *matHeaderCellDef>{{ 'hotel' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ getItem('hotel', element) }}</td>
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="market">
            <th mat-header-cell *matHeaderCellDef>{{ 'market' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ getItem('market', element) }}</td>
            <!-- <td mat-cell *matCellDef="let element">
                <mat-select>
                    <mat-option *ngFor="let i of getItem('market', element)">{{ i }}</mat-option>
                </mat-select>
            </td> -->
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="agency">
            <th mat-header-cell *matHeaderCellDef>{{ 'agency' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ getItem('agency', element) }}</td>
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="board">
            <th mat-header-cell *matHeaderCellDef>{{ 'board' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ getItem('board', element) }}</td>
        </ng-container>

        <!-- TODO: Şimdilik ID'leri göster -->
        <ng-container matColumnDef="roomType">
            <th mat-header-cell *matHeaderCellDef>{{ 'room_type' | transloco }}</th>
            <!-- <td mat-cell *matCellDef="let element">{{ getItem('room_type', element) }}</td> -->
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="selects-m" appearance="outline">
                    <mat-label>{{ 'market' | transloco }}</mat-label>
                    <mat-select>
                        <mat-option disabled *ngFor="let m of getItem('market', element)">{{ m }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>{{ 'start' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ toDate(element.enteredDate) | localizedDate }}</td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>{{ 'end' | transloco }}</th>
            <td mat-cell *matCellDef="let element">{{ toDate(element.exitDate) | localizedDate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
</div>