<app-navbar>
    <div class="search-container">
        <h1 class="title">{{ 'search_contract' | transloco }}</h1>
        <mat-form-field class="mx-2 date">
            <mat-label>{{ 'start' | transloco }}</mat-label>
            <input [(ngModel)]="startDate" matInput [matDatepicker]="startPicker" onkeydown="return false">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mx-2 date">
            <mat-label>{{ 'end' | transloco }}</mat-label>
            <input [(ngModel)]="endDate" matInput [matDatepicker]="endPicker" onkeydown="return false">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mx-2 hotel">
            <mat-label>{{ 'hotel' | transloco }}</mat-label>
            <mat-select [(ngModel)]="hotelIds" multiple>
                <mat-option *ngFor="let h of hotels" [value]="h.id">{{ h.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field class="mx-2 person">
            <mat-label>{{ 'adult' | transloco }}</mat-label>
            <input [(ngModel)]="adult" matInput type="number" value="1" min="0" onkeydown="return false">
        </mat-form-field>

        <mat-form-field class="mx-2 person">
            <mat-label>{{ 'child' | transloco }}</mat-label>
            <input [(ngModel)]="child" matInput type="number" value="1" min="0" max="3" onkeydown="return false">
        </mat-form-field>

        <br>

        <mat-form-field *ngIf="child != null && child != 0" class="mx-2 person">
            <mat-label>{{ 'childAge' | transloco }}</mat-label>
            <input matInput type="number" min="0" max="16" onkeydown="return false">
        </mat-form-field>

        <mat-form-field *ngIf="(child != null) && (child == 2) || (child ==3)" class="mx-2 person">
            <mat-label>{{ 'childAge' | transloco }}</mat-label>
            <input matInput type="number" min="0" max="16" onkeydown="return false">
        </mat-form-field>

        <mat-form-field *ngIf="child != null && child == 3" class="mx-2 person">
            <mat-label>{{ 'childAge' | transloco }}</mat-label>
            <input matInput type="number" min="0" max="16" onkeydown="return false">
        </mat-form-field>




        <br>

        <div class="search-button-bar">
            <button class="search-button" mat-flat-button color="primary" (click)="applyFilter()">{{ 'search' |
                transloco }}</button>
            <!-- <button mat-flat-button color="accent" (click)="clearTable()">Clear</button> -->
        </div>
    </div>

    <div class="results" [ngClass]="{'d-none': result.length === 0}">
        <div class="d-flex">
            <h2 class="results-title">{{ 'results' | transloco }}</h2>
            <span class="spacer"></span>
            <button class="export-button" mat-flat-button color="excel" (click)="exportAsXLSX()">
                <mat-icon>file_download</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="result">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>{{ 'code' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'name' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="hotel">
                <th mat-header-cell *matHeaderCellDef>{{ 'hotel' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ getItem('hotel', element) }}</td>
            </ng-container>

            <ng-container matColumnDef="adp">
                <th mat-header-cell *matHeaderCellDef>{{ 'adultprice' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.adp }}</td>
            </ng-container>

            <ng-container matColumnDef="cH07">
                <th mat-header-cell *matHeaderCellDef>{{ 'ch07' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.cH07 }}</td>
            </ng-container>

            <ng-container matColumnDef="cH14">
                <th mat-header-cell *matHeaderCellDef>{{ 'ch14' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ element.cH14 }}</td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>{{ 'start' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ toDate(element.enteredDate) | localizedDate }}</td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>{{ 'end' | transloco }}</th>
                <td mat-cell *matCellDef="let element">{{ toDate(element.exitDate) | localizedDate }}</td>
            </ng-container>

            <ng-container matColumnDef="Total-Price">
                <th mat-header-cell *matHeaderCellDef>{{ 'Total-price' | transloco }}</th>
                <td width="100" mat-cell *matCellDef="let element">
                    {{ (element.adp * adult!)+((element.cH07* child!)) }}&nbsp;&nbsp;&nbsp;
                    <!-- {{ element.adp * adult! * element.contDay + element.ch07 * child! *element.contDay}}&nbsp;&nbsp;&nbsp; -->
                    <!-- {{ element.childPrice * child! * element.contDay }}&nbsp;&nbsp;&nbsp; -->
                    {{ getItem('currency', element) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="seeDetails">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="seeDetails(element)">
                        <mat-icon>search</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
    </div>
</app-navbar>