.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: inherit;
  height: 100vh;
}

.logo {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 20vh;
}