<h1 mat-dialog-title>
  {{ translocoService.translate('dialogs.edit_title', { name: translocoService.getActiveLang() === 'en' ? 'Room' :
  'Oda' }) }}
</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-label>{{ 'code' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newRoomCode" (keyup.enter)="update()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newRoomName" (keyup.enter)="update()">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'hotel' | transloco }}</mat-label>
    <mat-select matInput [(ngModel)]="newHotelId" (ngModelChange)="onChangeHotelUpdate($event)">
      <mat-option *ngFor="let c of hotels" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>{{ 'room_type' | transloco }}</mat-label>
    <mat-select matInput [(ngModel)]="newRoomTypeId">
      <mat-option *ngFor="let c of roomTypes" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-checkbox [(ngModel)]="newReservation" (change)="onChange($event)">Reserved</mat-checkbox>

  <!-- <section class="example-section">
    <label class="example-margin"> {{ 'clean' | transloco }} </label>
    &nbsp; &nbsp;&nbsp;&nbsp;
    <mat-radio-group [(ngModel)]="cleanStatus">
      <mat-radio-button class="example-margin" value="true">Clean</mat-radio-button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <mat-radio-button class="example-margin" value="false">Dirty</mat-radio-button>
    </mat-radio-group>
  </section> -->
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="update()">Update</button>
  <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
</div>
