<div mat-dialog-title class="card-header">
   {{'contract_details' | transloco}}
</div>
<div class="container mr-0 pr-0">
            <div class="row gx-2 mb-1 ">
                <div class="col-md-6">
                    <label class="small" for="code">{{ 'code' | transloco }}</label>
                    <input disabled class="form-control" id="code" type="text" value="{{ contract.code }}">
                </div>
                <div class="col-md-6">
                    <label class="small" for="name">{{ 'name' | transloco }}</label>
                    <input disabled class="form-control" id="name" type="text" value="{{ contract.name }}">
                </div>
            </div>
            <div class="row gx-2 mb-1">
                <div class="col-md-6">
                    <label class="small" for="enteredDate">{{ 'start' | transloco }}</label>
                    <input disabled class="form-control" id="enteredDate" type="text"
                        value="{{ toDate(contract.enteredDate) | localizedDate }}">
                </div>
                <div class="col-md-6">
                    <label class="small" for="exitDate">{{ 'end' | transloco }}</label>
                    <input disabled class="form-control" id="exitDate" type="text"
                        value="{{ toDate(contract.exitDate) | localizedDate }}">
                </div>
            </div>
            <div class="row gx-2 mb-1">
                <div class="col-md-3">
                    <label class="small" for="adultPrice">{{ 'adultPrice' | transloco }}</label>
                    <input disabled class="form-control" id="adultPrice" type="text" value="{{ contract.adp }}">
                </div>
                <div class="col-md-3">
                    <label class="small" for="teenagerPrice">{{ 'teenager' | transloco }}</label>
                    <input disabled class="form-control" id="teenagerPrice" type="text" value="{{ contract.cH3 }}">
                </div>
                <div class="col-md-3">
                    <label class="small" for="childPrice">{{ 'child' | transloco }}</label>
                    <input disabled class="form-control" id="childPrice" type="text" value="{{ contract.cH2 }}">
                </div>
                <div class="col-md-3">
                    <label class="small" for="babyPrice">{{ 'baby' | transloco }}</label>
                    <input disabled class="form-control" id="babyPrice" type="text" value="{{ contract.cH1 }}">
                </div>

            </div>
            <div class="row gx-2 mb-1">
                <div class="col-md-6">
                    <label class="small" for="hotels">{{ 'hotel' | transloco }}</label>
                    <input disabled class="form-control" type="text" id="hotels" value="{{ getItem('hotel') }}">
                </div>

                <div class="col-md-6">
                    <label class="small" for="room_type">{{ 'room_type' | transloco }}</label>
                    <input disabled class="form-control" id="room_type" type="text" value="{{ getItem('room_type') }}">
                </div>
            </div>
            <div class="row gx-2 mb-1">
                <div class="col-md-6">
                    <label class="small" for="market">{{ 'Market' | transloco }}</label>
                    <input disabled class="form-control" id="market" type="text" value="{{ getItem('market') }}">
                </div>
                <div class="col-md-6">
                    <label class="small" for="agency">{{ 'agency' | transloco }}</label>
                    <input disabled class="form-control" id="agency" type="text" value="{{ getItem('agency') }}">
                </div>
            </div>
            <div class="row gx-2 mb-1">
                <div class="col-md-6">
                    <label class="small" for="board">{{ 'board' | transloco }}</label>
                    <input disabled class="form-control" id="board" type="text" value="{{ getItem('board') }}">
                </div>

                <div class="col-md-6">
                    <label class="small" for="days">{{ 'days' | transloco }}</label>
                    <input disabled class="form-control" id="days" type="text" value="{{ getItem('date') }}">
                </div>
                <!-- <div class="col-md-6">
                    <label class="small" for="rooms">{{ 'room' | transloco }}</label>
                    <input disabled class="form-control" type="text" id="rooms"
                        value="{{getItem('room')}}">
                </div> -->
            </div>
</div>

<div mat-dialog-actions>

    <button mat-dialog-close type="button" class="btn btn-primary" data-bs-dismiss="toast" aria-label="Close"
        fill="none" stroke="none">Back</button>
</div>