table {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.new-button {
    margin-bottom: 15px;
}

.mat-column-actions {
    text-align: center;
}