<h1 mat-dialog-title>Create A New Market</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{ 'code' | transloco }}</mat-label>
        <input matInput (keyup.enter)="add()" [(ngModel)]="marketCode">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>{{ 'name' | transloco }}</mat-label>
        <input matInput (keyup.enter)="add()" [(ngModel)]="marketName">
    </mat-form-field>
   
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="add()">{{ 'dialogs.add' | transloco }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'dialogs.cancel' | transloco }}</button>
</div>

