.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/background-1.jpg");
    background-size: cover;
    height: 100vh;

  }

  .logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    block-size: inherit;

  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.7);
    width: 25vw;
    display: block;
  }
  
  