<h1 mat-dialog-title>Update Country</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Country Name" [value]="newCountryName" [(ngModel)]="newCountryName">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="update()">Update</button>
    <button mat-flat-button color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
        Delete
    </button>
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
</div>